<mat-sidenav-container class="staxter-sidebar-container">

  <mat-sidenav #matSidenav mode="over" class="app-sidenav">
    <mat-toolbar id="staxter-sidebar-header">
      <!--future svg to go here-->
      <span class="toolbar-filler"></span>
      <button mat-icon-button (click)="toggleSidebar()"
              class="mat-icon-button sidenav-toggle-button staxter-sidebar-close-btn">
        <mat-icon aria-label="Menu" class="material-icons">close</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <!-- Navigation Items -->
      <mat-list-item *ngFor="let item of navigationItems; let i = index;"
                     role="listitem"
                     class="staxter-sidebar-list-item"
                     [ngClass]="{'active': activeNavItem === item}"
                     (click)="navigateToPage(i)">
        <mat-icon class="material-icons">{{item.icon}}</mat-icon>
        <span class="staxter-sidebar-menu">{{ item.name | translate }}</span>

      </mat-list-item>

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content (scroll)="scrollHandler()">

    <ngx-spinner
      bdColor="rgba(51,51,51,0.8)"
      size="default"
      color="#fff"
      type="pacman"
      class="staxter-spinner">
      <p style="font-size: 20px; color: white">{{ 'LOADING' | translate }} ...</p>
    </ngx-spinner>

    <div class="staxter-body-container" currentLanguage="currentLanguage">
      <div class="row">
        <div class="col-lg-12">
          <mat-form-field id="staxter-base-currency-dropdown" class="pull-right">
            <mat-label>{{ 'BASE_CURRENCY' | translate }}</mat-label>
            <mat-select [(value)]="baseCurrency" (selectionChange)="baseCurrencyChange(baseCurrency)">
              <mat-option [value]="option.value" *ngFor="let option of baseCurrencies">{{ option.viewValue }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>

    <!-- Scroll to Top Button -->
    <a id="staxter-scroll-to-top-btn" *ngIf="showScrollToTopButton" (click)="scrollToTop()"
       matTooltipPosition="above" matTooltipClass="tsm-tooltip" matTooltip="{{ 'SCROLL_TO_TOP' | translate }}">
      <mat-icon aria-label="arrow_drop_up" class="material-icons staxter-scroll-to-top-icon">expand_less</mat-icon>
    </a>

  </mat-sidenav-content>

</mat-sidenav-container>
