$link-color: #3498db;
$dark-grey: #999;
$light-grey: #ccc;
$page-title-color: #66615b;
$primary: #05729d;

$border-color: $light-grey;
$border-radius: 4px;

$table-header-bg: #6c7ae0;
$staxter-body-bg-color: #fff;

$staxter-app-accent: #c20834;

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

$staxter-app-main-color: $primary;
